In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [55]:
df = pd.read_csv(r'D:\Data Science Atomcamp\Projects\Ensemble Methods\Bagging\Pima Indains Diabetes\archive (4)\pima-indians-diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
#by looking at min max values we can assume there are no outliers

In [6]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
#500 people do not have diabetes

In [7]:
X = df.drop("Outcome", axis="columns")
y = df.Outcome

In [8]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [10]:
X.shape

(768, 8)

In [11]:
y.shape

(768,)

In [43]:
X_train, X_test, y_train , y_test = train_test_split(X, y, test_size=0.2)
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [44]:
y_pred = rf.predict(X_test)

In [45]:
print("y_pred: ", y_pred[:20])
print("y_test: ", y_test[:20])

y_pred:  [0 1 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 1]
y_test:  758    0
470    0
584    1
535    1
438    0
131    1
120    1
171    1
242    1
538    0
324    0
450    0
194    0
645    0
135    0
151    0
156    0
183    0
493    1
669    0
Name: Outcome, dtype: int64

In [46]:
accuracy = accuracy_score(y_test, y_pred)
print("accuracy: ", accuracy)

accuracy:  0.7532467532467533

In [ ]:
#now Boosting method

In [53]:
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=0.5, random_state=42)
gb.fit(X_train, y_train)
y_pred = gb.predict(X_test)

print("y_pred: ", y_pred[:10])
print("y_test: ", y_test[:10])

accuracy = accuracy_score(y_test, y_pred)
print("accuracy: ", accuracy)

y_pred:  [0 1 0 1 0 1 1 1 0 0]
y_test:  758    0
470    0
584    1
535    1
438    0
131    1
120    1
171    1
242    1
538    0
Name: Outcome, dtype: int64
accuracy:  0.7337662337662337